body {
  background-color: #04121E;
  font-family: 'Roboto', sans-serif;
  color: white; 
}

p {
  font-style: italic;
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#navbar li a {
  float: right;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
  font-weight: lighter;
}

/* website title formatted as left navbar */
#navbar li a.split {
  float: left;
  font-size: xx-large;
  font-family: 'Bowlby One SC', cursive;
  pointer-events: none;
}

/* change the color of links on hover */
#navbar a:hover {
  background-color: rgb(98, 205, 255);
  color: black;
}

.main {
  margin: 20px 20px 20px 20px;
}

/* border styling including float */
.cardDefault {
  border-style: solid;
  border-color:rgb(98, 205, 255);
  border-radius: 25px;
  padding: 20px;
  float: left;
  margin: 5px 5px 5px 5px;
}

.cardDefault:hover {
  background: rgb(208, 247, 253);
  opacity: 0.75;
  color: black;
}

/* global styles for individual cards */ 
.cardDefault > * {
  text-align: center;
}

.cardImg {
  height: 150px;
  width: 250px; 
}

.cardDetail {
  border-style: solid;
  border-color:rgb(98, 205, 255);
  border-radius: 25px;
  padding: 20px;
  margin: 5px 5px 5px 5px;
  overflow: auto;
}

.cardDetailImg {
  height: 200px;
  width: 350px;
  padding: 0px 20px 10px 0px;
  float: left;
}